<!DOCTYPE html>
<html lang="en" ng-app='app'>
<head>
  <meta charset="UTF-8">
  <title></title>

  <!-- build:js(app) assets/styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js(.tmp) assets/styles/main.css -->
  <link href="assets/styles/main.css" rel="stylesheet">
  <!-- endbuild -->

</head>
<body>

  <!-- build:js(app) js/vendor.js -->
  <!-- bower:js -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js(.tmp) js/main.js -->
  <script src="js/app.js"></script>
  <!-- endbuild -->

  <!-- build:js(.tmp) templates/templates.js -->
  <script src="templates/templates.js"></script>
  <!-- endbuild -->

  <div ui-view>
    <a ng-click="goURL('helloWorld')">HelloWorld</a>
  </div>

  <button ng-click="count = count + 1" ng-init="count=0">Increment</button>
  <span>
    count: {{count}}
  </span>

</body>
</html>
